@font-face {
    font-family:'Roboto';
    src:url(../fonts/Roboto-Regular.ttf) format('truetype');
}

html, body {
    background-color:#E0E1DD;
    padding:0px;
    margin:0px;
    display:flex;
    font-family:'Roboto', Arial, sans-serif;
    font-size: 16px;
    height:100%;
    width:100%;
    overflow:hidden;
    align-items: center;
    
}

#barContainer {
    background-color:#415A77;
    padding-right:8px;
    padding-bottom:8px;
    height:100%;
}

#sidebar {
    background-color:#1B263B;
    display:flex;
    flex-direction: column;
    gap:6px;
    border-bottom-right-radius: 12px;
    
}

button {
    background-color:#415A77;
    color:#E0E1DD;
    box-sizing: border-box;
    width:105px;
    height:48px;
    padding: 16px;
    margin:16px;
    border-radius: 12px;
    border:0 solid #1B263B;
    font-family: 'Roboto', Arial, sans-serif;
    transition-duration: 0.4s;
}

button:hover {
    background-color:#778DA9;
}

#sketchpad {
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    margin:0px 0px 0px 25%;
    padding:0px;
    height:720px;
    width:720px;
    gap:0px;
    row-gap:0px;
    column-gap:0px;
    border:0;
}

.pixel {
    background-color:white;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    border:0px;
    flex:0 0 auto;
}